.body-background{
    background-image: url(https://i.pinimg.com/originals/04/34/89/043489e7922dabf9902965b964ca04a5.jpg)
}
#father{
    width: 70%;
}
#mother{
    width: 70%;
}
#sister{
    width: 70%;
}
#brother{
    width: 70%;
}

html{
    scroll-behavior:smooth;
}
#camera{
    width: 320px;
    height: 240px;
    border: 2px dashed black;
    margin-bottom: -50;
}